.card {
    border: 2px solid #ececec;
    padding: 20px;
    width: 220px;
    border-radius: 20px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
    transition: box-shadow 0.20s ease-in-out, transform 0.20s ease-in-out;
}

.card:hover{
    box-shadow: 0px 5px 10px rgb(172, 172, 172);
    transform: translateY(-5px);
}

.cardBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardInfo {
    display: flex;
    flex-direction: column;
}

h5 {
    font-weight: 400;
    font-size: 14px;
}

.button {
    background: #ffffff;
    border: 1px solid #f2f2f2;
    box-sizing: border-box;
    border-radius: 5px;
    height: 32px;
    width: 32px;
    cursor: pointer;
}

.unlike {
    position: relative;
    margin-left: 30px;
    height: 25px;
    width: 25px;
}